<!DOCTYPE html>
<html>
    <!-- Same as the last one, but a few changes to allow the passage of variables-->

    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <script>
        function restart(){
            window.location = "/"
        }
        function end(result){
            var word = document.getElementById("actual_word").innerHTML
            var active = document.getElementById("center").style.display
            active = "none"
            var image = document.getElementById("linehang")
            image.style.marginTop = "100px"
            image.style.marginBottom = "1000px"
            image.src = "/static/bear.png"
            lives = document.getElementById("lives")
            lives.style.opacity = "0"
            var title = document.getElementById("hangman");
            if (result.localeCompare("win") == 0){
                title.innerHTML = "YOU WON. Click to restart"
                title.setAttribute("onclick", "restart()")
                title.style.marginLeft = "-50px"
            }
            else{
                title.innerHTML = "YOU LOST. The word was '" + word + "'. Click to restart"
                title.setAttribute("onclick", "restart()")
                title.style.marginLeft = "-50px"
            }

        }
        


        function change(){
            var title = document.getElementById("hangman");
            title.style.fontSize = "60px";
        }
        function returns(){
            var title = document.getElementById("hangman");
            title.style.fontSize = "25px";
            setTimeout(function move() {
                title.style.marginLeft = "-2200px"
                var linehang = document.getElementById("linehang");
                linehang.style.opacity = "1";
            }, 1000)
            setTimeout(function move2(){
                var linehang = document.getElementById("linehang");
                linehang.style.marginTop = "-25%";
                linehang.style.width = "25%";
                var key = document.getElementById("center");
                key.style.display = "block";
                var word = document.getElementById("word");
                word.style.display = "block";
                var lives = document.getElementById("lives")
                lives.style.opacity = 1
            }, 1000)


        }
        window.addEventListener('keydown', function (e) {
            var active = document.getElementById("center").style.display
            if (active != "none"){
                let regex = /^[a-zA-Z]+$/; 
            if (regex.test(e.key)){
                var ajax = new XMLHttpRequest();
                ajax.onreadystatechange = function(){
                    if (ajax.readyState == 4 && ajax.status == 200){
                        if (ajax.responseText == "bad" || ajax.responseText == "meh"){
                            if (ajax.responseText == "bad"){
                                var object = document.getElementById(e.key)
                                object.style.backgroundColor = "red"
                            }

                            const r = /\d+/;
                            lives = document.getElementById("lives")
                            number = lives.innerHTML
                            lives.innerHTML = "Lives: " + (parseInt(number.match(r)) - 1)
                            var hanger = document.getElementById("linehang")
                            if ((parseInt(number.match(r)) - 1) == 3){
                                hanger.src = "/static/hangman1.jpg"
                            }
                            else if ((parseInt(number.match(r)) - 1) == 2){
                                hanger.src = "/static/hangman2.jpg"

                            }
                            else if ((parseInt(number.match(r)) - 1) == 1){
                                hanger.src = "/static/hangman3.jpg"

                            }
                            else if ((parseInt(number.match(r)) - 1) == 0){
                                hanger.src = "/static/hangman4.jpg"
                                end("loss");
                            }
                            
                        }
                        
                        else if(ajax.responseText == "good"){
                            end("win")
                        }
                        else{

                            var object = document.getElementById(e.key)
                            object.style.backgroundColor = "green"
                            const r = /\d+/g;
                            const s = ajax.responseText;
                            var m;
                            while ((m = r.exec(s)) != null) {
                                var letter = document.getElementById(m[0])
                                letter.innerHTML = e.key
                            }
                            
                        }
                    }
                }
                ajax.open("POST", "/check_key", true);
                ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                ajax.send("value=" + e.key);
                }
            }
            
        })
    </script>

<body onload="change(); setTimeout(returns, 1000)" style="overflow-y: hidden;" id="body_body">
    <div>
        <p style="display: none;" id="actual_word">{{word}}</p>
        <h2 style="font-family: 'Times New Roman', Times, serif; text-align: center; margin-top: 20%; transition: font-size 1s linear, margin-left 1s linear;" id="hangman">The Hangman Games!</h2>
        <img src="/static/hangman.jpg" style="opacity:0; position: relative;margin-top:-2%; margin-left: 40%; transition: opacity 2s linear, margin-top 1.5s linear, width 2s linear;" id="linehang">
        <p id="lives"  style="position:absolute; left:20%; top:25%; font-family: fantasy; opacity: 0; transition: opacity 1s linear; font-size: large; font-weight: 700;">Lives: 4</p>
    </div>
    <div id="word" style="display: none;">
        <ul style="text-align: center; list-style-type: none;">
            {% for x in range(lenght)%}
                {% if word[x] != " "%}
                    <li style="margin-right: 1%; margin-left: 1%; background-color: none; width: 20px; height: 20px; font-size: 15px; border-radius: 2px;" id="{{x}}">_</li>
                {% else %}
                    <li style="margin-right: 1%; margin-left: 1%; background-color: white; width: 20px; height: 20px; font-size: 15px; border-radius: 2px;"><wbr></li>
                {%endif%}
            {% endfor %}
        </ul>
    </div>
    <div style="display: none; margin-top:3%;" id="center">
        <ul style="text-align: center; list-style-type: none;">
            <li id="q">q</li>
            <li id="w">w</li>
            <li id="e">e</li>
            <li id="r">r</li>
            <li id="t">t</li>
            <li id="y">y</li>
            <li id="u">u</li>
            <li id="i">i</li>
            <li id="o">o</li>
            <li id="p">p</li>
        </ul>
        <ul style="text-align: center; list-style-type: none;">
            <li id="a">a</li>
            <li id="s">s</li>
            <li id="d">d</li>
            <li id="f">f</li>
            <li id="g">g</li>
            <li id="h">h</li>
            <li id="j">j</li>
            <li id="k">k</li>
            <li id="l">l</li>
        </ul>
        <ul style="text-align: center; list-style-type: none;">
            <li id="z">z</li>
            <li id="x">x</li>
            <li id="c">c</li>
            <li id="v">v</li>
            <li id="b">b</li>
            <li id="n">n</li>
            <li id="m">m</li>
        </ul>
    </div>
</body>
</html>